name: Cloudflare-HK-IPs

permissions:
  contents: write

on:
  schedule:
    - cron: "0 18 * * *"   # 北京时间凌晨2点
  workflow_dispatch:

jobs:
  hk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Fetch Cloudflare HTML
        run: |
          curl -s https://api.uouin.com/cloudflare.html -o page.html

      - name: Extract IPs
        run: |
          grep -Eo '([0-9]{1,3}\.){3}[0-9]{1,3}' page.html | sort -u > raw_ips.txt

      - name: Detect HK colo
        run: |
          echo "" > hk_ips.txt

          while read ip; do
            # 请求 Cloudflare trace
            colo=$(curl -s --max-time 2 "https://${ip}/cdn-cgi/trace" | grep '^colo=' | cut -d= -f2)

            # 如果是香港节点
            if [ "$colo" = "HKG" ]; then
              echo "${ip}#HK" >> hk_ips.txt
            fi
          done < raw_ips.txt

      - name: Commit changes
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            git config --local user.email "actions@github.com"
            git config --local user.name "GitHub Actions"
            git add hk_ips.txt
            git commit -m "Update Cloudflare Hong Kong IP list"
            git push
          fi
